.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo{
  width: 94px;
  height: 41px; 
}
.Fnav{
  display: flex;
  background-color: #FFFFFF;
  justify-content:space-between;
  font-family: sans-serif;
  font-size: 16px;
  color: #121212;
  padding: 20px;
}
.Nav{
  display: flex;
  list-style-type: none; 
  font-family: sans-serif;
  font-size: 16px;
  color: #121212; 
}
.productList{
  display: flex;
  list-style-type: none;
  font-family: sans-serif;
  font-size: 16px;
  color: #444444;
  padding: 15px;
  /* box-shadow:8px,8px,8px,8px #444444; */

}
.signget{
  list-style-type: none;
  display: flex; 
}
Button{
  height: 45px;
  width: 166px;
  background-color: #DDDDDD;
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
  font-size: 16px;
  color: #121212;
}
.yellowButton{
  background-color: #FFD633;
}
.space{
  width: 20px;
}
.subSet{
  display: flex;
}
.icons{
  background-color: #FFFAE6;
  border-radius: 100%;
  height: 100%;
  width: 10%;

}
.info{
  font-size: 12px;
}
.dropdown-item{
  display: none;
  position: relative;
}
.dropdown-item {
  position: absolute;
}
.Nav:hover .dropdown-item{
  display: block;
  background-color: #DDDDDD;
  cursor: pointer;
  width: 20rem;
  height: 8rem;
  padding:20px;
  box-shadow:8px,8px,8px,8px #444444;
  justify-content: space-between;
  margin-top: 15px;
}
.drop-down{
  cursor: pointer;
}